<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.calvinrempel.firstimpressions_pof" >

    <uses-feature android:name="android.hardware.type.watch" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/fish"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault" >

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ContactInfo"
            android:label="@string/title_activity_contact_info" >
        </activity>
        <activity
            android:name=".Likes"
            android:label="@string/title_activity_likes" >
        </activity>
        <activity
            android:name=".LikesDetails"
            android:label="@string/title_activity_likes_details" >
        </activity>
    </application>


</manifest>
